*{
    margin:0;
    padding: 0;
}
.div{
    max-width: 800px;
    margin:auto;
}
body{
    background: black;
    font-family: Arial, Helvetica, sans-serif;
}
.cabeca{
    background: rgb(74, 151, 223);
    color: white;
    padding: 10px;
    font-size: 10px;
    text-align: center;
    margin: auto;
}
.people{
    background: url("images/people.jpg") no-repeat;
    background-size: cover;
    overflow: hidden;
}
.form{
    background: rgb(255, 255, 255, 70%);
    max-width: 230px;
    padding: 20px;
    float: right;
    margin: 20px;
}
h2{
    font-size: 16px;
}
.mb{
    margin-bottom: 15px;
}
select{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url("images/arrow.jpg");
    background-repeat: no-repeat;
    background-position: calc(95%) center;
}
.marg{
    margin-bottom: 5px;
    width: 100%;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.butao{
    color: white;
    background: rgb(0, 195, 221);
    font-weight: bold;
}
footer{
    background: rgb(80, 80, 80);
    overflow: hidden;
    text-align: center;
}
.picture{
    width: 160px;
    padding: 40px;
    float: left;
    margin-left: 60px;
}
.description{
    display: inline-block;
    color:white;
    max-width: 40%;
    margin: 40px;
    text-align: left;
}
.description h3, .description p{
    margin-bottom: 20px;
}
@media screen and (max-width:650px) {
    .form {
        max-width: 230px;
        float: none;
        margin: auto;
    }
    .description{
        max-width: 500px;
        text-align: center;
        margin: 40px;
        margin-top: 0px;
    }
    .picture{
        float:none;
        margin:auto;
    }
    .description h3, .description p{
        text-align: left;
    }
}